.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cool-button {
  background: linear-gradient(135deg, #ff7a18, #af002d);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.cool-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cool-button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.cool-button:focus {
  outline: none;
}



.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.product-table th {

  font-weight: bold;
}



.product-table tr:hover {
  background-color: #646262;
}

.product-table td {
  word-wrap: break-word;
  max-width: 400px; /* Adjust based on your needs */
}
